header{
	padding: 16px 0;
	background: white;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	transition: top ease .5s;
	@include breakpoint($desktop){
		width: 20%;
		height: 100%;
	}

	h1{
		margin: 0;
		@include breakpoint($desktop){
			margin:0;
			/* margin: auto; */
			width: 100%;
			padding-top: 38px;
		}
	}
	@include breakpoint($mobile){
		padding: 10px 0;
	}
	@include breakpoint($tablet){
		padding: 16px 0;
	}
	&.desce{
		top: 0;
	}
	&.open{
		.menu{
			left: 0;
			@include flex;
			.social{
				left: 53vw;
				z-index: inherit;
				bottom: 17vh;
				width: 30vw;

			}

				p{
					left: 0;
					z-index: inherit;
					bottom: 0;
				}

		}


		.bt-menu{
			hr{
				&:first-child{
					transform: rotate(-45deg);
					margin-left: -2px;
				}
				&:nth-child(2){
					transform: translateX(35px);
					opacity: 0;
				}
				&:last-child{
					transform: rotate(45deg);
					margin-top: 8px;
				}
			}
		}
	}
	.wrapper{
		width: 90%;
		margin: 0 auto;
		position: relative;
		@include breakpoint($desktop){
			@include flex;
			align-items: center;
		}

	}
	.logo{
		width: 176px;
		height: 44px;
		background: url(../imgs/logo-arica-mobile.svg) no-repeat;
		background-size: 100%;
		@include breakpoint($desktop){
			width: 85px;
			height: 91px;
			margin: auto;
			background: url(../imgs/logo-desktop.svg) no-repeat;
		}
	}
	.bt-menu{
		outline: 0;
		display: block;
		padding: 0;
		background: none;
		border: 0;
		width: 27px;
		height: 18px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 8px;
		z-index: 10;
		@include breakpoint($desktop){
			display: none;
		}

		hr{
			width: 100%;
			display: block;
			border: 0;
			height: 2px;
			margin: 2px 0 7px;
			transition: all ease .5s;
			background: #ED2E4E;
			@include breakpoint($desktop){
				transition: all ease .2s;
			}
			&:first-child{
				transform-origin: right top;
    			transform: rotate(0deg);
			}
			&:nth-child(2){
				transform: translateX(0px);
				opacity: 1;
			}
			&:last-child{
				transform-origin: right top;
    			transform: rotate(0deg);
    			margin-bottom: 0;
			}
		}
	}//bt-menu
	.menu{

		position: fixed;
	    z-index: 99;
	    width: 100%;
	    left: -150vw;
	    top: 70px;
	    background: #fff;
	    box-sizing: border-box;
	    padding: 0 5%;
	    height: calc(100% - 70px);
	    display: flex;
	    align-items: center;
	    transition: left ease .8s;
	    @include breakpoint($desktop){
	    	position: relative;
	    	height: 100%;
	    	left: 0;
	    	top: 0;
	    	width:  100%;
				margin: 0 auto;
	    	max-width: 990px;
	    	padding: 4vh 0 7vh 0;
				@include flex;

	    }
			.social{
				left: -150vw;
				position: absolute;
				@include flex;
				@include breakpoint($desktop){
					margin: 0 auto;
		    	width: 60%;
					justify-content: space-evenly;
					padding-top: 5%;
					position: relative;
					left: 0;

				}
				img{
					width: 23px;
					position: relative;
					display: block;
				}
			}
			p{
				position: absolute;
				left: -150vw;
				font-family: Helvetica;
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 13px;
				/* or 118% */

				text-align: right;

				color: #C3D5DE;
				width: 155.5px;
					margin: 0 auto;
					padding: 45px;
					@include breakpoint($desktop){
						position: initial;
					}
					}
	    ul{
				list-style-type:none;
	    	@include breakpoint($desktop){
	    		@include flex;
	    		width: 37%;
					margin: 0 auto;
	    	}
	    	li{
	    		&:not(:last-child){
	    			margin-bottom: 30px;
	    			@include breakpoint($desktop){

	    				margin-bottom: 48px;
							width: 100%;
	    			}
	    		}
	    		a{
						text-align: left;
	    			color: #000;
						font-family: Helvetica;
						font-style: normal;
						font-weight: 300;
						font-size: 14px;
						line-height: 30px;
	    			@include breakpoint($desktop){
							font-family: Helvetica;
							font-style: normal;
							font-weight: 300;
							font-size: 16px;
							line-height: 30px;
	    			}
	    			&:hover{
	    				@include breakpoint($desktop){
	    					color: #6e6e6e;
	    				}
	    			}
	    			&.ativo{
	    				font-weight: bold;
	    				pointer-events: none;
	    				color: #6e6e6e;
	    			}
	    			&.desativado{
	    				opacity: 0.3;
	    				pointer-events: none;
	    			}
	    		}
	    	}
	    }
	}
}
