.section-home{

  .foto-destaque{

      height: 72vh;
      img{
        display: none;
        @include breakpoint($desktop){
          display: block;
          width: 305px;
          height: auto;
          right: 0;
          position: absolute;
        }
      }
  }
  .sobre-home{
    .virada{
      transform: rotate(180deg);
      @include breakpoint($desktop){
        transform: none ;
          width: 305px;
          margin: 0;
          padding-top: 76px;
      }

    }
    .normal{
      @include breakpoint($desktop){
        display: none;
      }
    }
    background-color: black;
    p{
      width: 50%;
      font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 136%;
        text-align: left;
        color: white;

        padding-top: 2.5em;
        margin-bottom: 2.5em;
        b{
          font-weight: 700;
        }
        @include breakpoint($desktop){
          font-size: 22px;
          text-align: right;
        }

    }
    img{
      max-width: 50%;
      margin: auto;

    }
    .wrapper{
      @include breakpoint($desktop){
        @include flex;
      }
    }
  }

}
/////////////////// SOBRE


.section-sobre{

  .sobre-box{
    p{

    }
    img{

    }
  }
  .premios-box{
    .premio{
      img{}
      h1{}
      h2{}
    }
  }

}
.section-socios{
    h1{}
  .bloco-socios{

    .fotos-sobre{

    }
    .texto-socio{}
  }
}
